<p id="notice"><%= notice %></p>

<p>
  <strong>Deadline:</strong>
  <%= @description.deadline %>
</p>

<%= link_to 'Edit', edit_description_path(@description) %> |
<%= link_to 'Back', descriptions_path %>
